mercuryp-common/src/main/resources/META-INF/mercury.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mercuryp-rpc.org/schema/mercuryp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mercuryp-rpc.org/schema/mercuryp" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="authoritybean">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ip" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:long" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="consumerbean">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ip" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:long" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="providerbean">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ip" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:long" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
